.App {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 90vw;
    margin: auto;
    padding: 0;
}

h1 {
    display: flex;
    font-size: 2.25rem;
    font-weight: 700;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    color: dodgerblue;
}

html {
/* Created with https://www.css-gradient.com */
// height: 100%;
    // background: linear-gradient( to top right, #1d1c1c 90%,white 10%);
    background-color: #1d1c1c;
    color: white; 
}

body {
    margin: 0;
}

main {
    height: 100vh;
}

.body-container {
    background-color: red;
    margin: 0rem;
    padding: 0;
    transition: 1s ease;
}