.the-current-weather {
    margin: auto;
    display: flex;
    max-width: max-content;
    align-items: center;
}

.current-weather-list {
    display: flex;
    flex-direction: row;
    width: 50vw;
    min-width: 300px;
    margin: auto;
    list-style: none;
    justify-content: space-between;
    padding-top: 5vh;
    padding-left: 0;
}

.current-weather-list li {
    font-size: 4rem;
    margin: auto;
    display: flex;
}

.current-weather-list .currently {
    font-size: 1.5rem;
}

.bar {
    height: 2px;
    width: 40vw;
    background: white;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
}
