.forecast-container {
    align-self: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 200px;
    margin: auto;
    // background-color: hsl(210, 100%, 56%, 60%);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    transition: .4s ease;
}

.forecast-container-next {
    align-self: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 40vw;
    margin: auto;
    background-color: hsl(210, 100%, 56%, 60%);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    transition: .4s ease;
}


.forecast-container h2 {
    text-align: left;
}