.location-specifics {
    padding-top: 5vh;
    max-width: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.specific-location {
    font-weight: 500;
    font-size: 1.5rem;
}